.fleur1{
    position: relative;
    right: 470px;
    top: 100px;
}

.fleur2{
    position: relative;
    left: 600px;
    bottom: 230px;
}

.fleur3{
    position: relative;
    right: 168px;
    bottom:260px;
    z-index: -1;
}

.canettebdp{
    bottom:10px;
}

/* formulaire page Nous rencontrer */
#wpcf7-f212-p11-o1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
 
.contactform{
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size:20px;
    line-height: 24px; 
    
}


/* formulaire page commander */
#wpcf7-f299-p14-o1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}  

.infoform{
    display: flex;
    flex-direction: row;
    gap: 40px;  
}

.info{
    font-family: 'Syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    
}

.titre-info{
    font-family: 'Syne', sans-serif;
    color: #FFFFFF !important;
    font-weight:700;
    font-size: 30px;
    line-height: 36px;

}

.borduredroite{
    border-right: 1px solid #FFFFFF; 
     
    
}

/* formulaire ajout quantité commande*/
#wpcf7-f226-p14-01{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}



/*Bouton des formulaires*/

    

input.butlivraison{
    display:flex;       
    margin:auto;
    font-family: 'syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    align-items: center;
    background-color: #E0B9B4;

}

input.butlivraison:hover{
    cursor:pointer;
    background-color:#C02E44;
}

input.butcontacter{
    display:flex;       
    margin:auto;
    font-family: 'syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    align-items: center;
    background-color: #E0B9B4;
}

.quanti{
    width: 10px;
    height:10px;
    resize: none; 
}

.formquanti{
    display:flex;
    flex-direction: row;
    



}


.formquanti1{
    display: flex;
    flex-direction: column;

}






