.fleur1{
    position: relative;
    right: 470px;
    top: 100px;
}

.fleur2{
    position: relative;
    left: 600px;
    bottom: 230px;
}

.fleur3{
    position: relative;
    right: 168px;
    bottom:260px;
    z-index: -1;
}

.canettebdp{
    bottom:10px;
}




/* formulaire page Nous rencontrer */
#wpcf7-f212-p11-o1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
 
.contactform{
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size:20px;
    line-height: 24px; 
    
}









/*Bouton des formulaires*/

    

input.butlivraison{
    display:flex;       
    margin:auto;
    font-family: 'syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    align-items: center;
    background-color: #E0B9B4;
    margin-top: 20px;

}

input.butlivraison:hover{
    cursor:pointer;
    background-color:#C02E44;
}

input.butcontacter{
    display:flex;       
    margin:auto;
    font-family: 'syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    align-items: center;
    background-color: #E0B9B4;
}

/* Formulaire page commande haut */ 
.quantite{
    display:flex;
    flex-direction: row;
    
    align-items: center;
    
    margin-left: 58px;
}
.form-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quantite-input {
    display: flex;
    align-items: center;
}

.custom-input {
    border: 1px solid #000;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.quantite-bouton {
    display: flex;
    align-items: center;
    margin-right: 10px; 
   
}

.bouton-input-quantite-plus,
.bouton-input-quantite-moins {
    background-color: #E0B9B4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;    
    width: 50px; 
    text-align: center;
}

.bouton-input-quantite-moins {
    border-top: 1px solid white; 
}

.boutonquantite {
    background-color: #E0B9B4;
    color: #fff;
    border: none;
    padding: 19px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 70px;

}

.boutonquantite:hover {
    background-color: #C02E44; 
}

.bouton-input-quantite-plus:hover,
.bouton-input-quantite-moins:hover {
    background-color: #C02E44; 
}

.quantite-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.horizontal-line {
    border: 1px solid #FFFFFF; 
    width: 100%; 
    
    
}


/* formulaire page commande bas */
#wpcf7-f299-p14-o1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}  
.form-row{
    margin-top: 40px;
}

.infoform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;  
}

.info{
    font-family: 'Syne', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    
}

.titre-info{
    font-family: 'Syne', sans-serif;
    color: #FFFFFF !important;
    font-weight:700;
    font-size: 30px;
    line-height: 36px;

}

.borduredroite{
    border-right: 1px solid #FFFFFF; 
    margin-right: 1px;
    padding-right: 40px;
     
}




/* Personnalisation du hook*/
.menu-item a {
    color: #000000; 
    font-family: 'syne', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px ;
}



/*responsive*/

/* Pour les écrans de petite taille, par exemple, les smartphones */
@media (max-width: 768px) {
    .fleur1,
    .fleur2,
    .fleur3,
    .canettebdp,
    .quantite-form,
    .form-column,
    #wpcf7-f212-p11-o1,
    #wpcf7-f299-p14-o1 {
        display: block; 
        margin: auto; 
    }

    .quantite-input,
    .infoform {
        margin-bottom: 20px; 
    }

    .borduredroite {
        border-right: none; 
    }
    
    .boutonquantite {
        margin-right: 0; 
    }
   
   
}


/* Pour les écrans de grande taille, par exemple, les ordinateurs de bureau */
@media (min-width: 769px) {
    
        .fleur1 {
            right: 470px;
            top: 100px;
        }
    
        .fleur2 {
            left: 600px;
            bottom: 230px;
        }
    
        .fleur3 {
            right: 168px;
            bottom: 260px;
            z-index: -1;
        }
    

    .canettebdp {
        bottom: 10px;
    }

    .quantite-form,
    .form-column,
    #wpcf7-f212-p11-o1,
    #wpcf7-f299-p14-o1 {
        display: flex;
    }

    .quantite-input,
    .infoform {
        margin-bottom: 0; /* Réinitialiser l'espacement pour les écrans de grande taille */
    }

    .borduredroite {
        border-right: 1px solid #FFFFFF; /* Restaurer la bordure à droite */
    }

    .boutonquantite {
        margin-right: 70px;
    }

}